.root{
	-fx-background-image: url("./background.png");
}

Button#playButton{
	-fx-background-image: url("./playnormal.png");
	-fx-background-color: transparent;
}

Button#playButton:hover{
	-fx-background-image: url("./playhover.png");
	-fx-cursor: hand;
}

Button#playButton:pressed{
	-fx-opacity: 0.8;
}